<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Add Empolyee</title>
  </head>
  <body>
    <div class="container">
      <h1>Office Employee Management System</h1>
      <hr>
      <a class="btn btn-primary" href="/all_emp" role="button">View All Employee</a>
      <a class="btn btn-primary" href="/add_emp" role="button">Add Employee</a>
      <a class="btn btn-primary" href="/remove_emp" role="button">Remove Employee</a>
      <a class="btn btn-primary" href="/filter_emp" role="button">Filter Employee Details</a>
      <hr>
      <h3 class="fw-bold">Add Employee</h3>
      <hr>
      <div class="container mt-3">
        <form action="/add_emp" method="post">
          {% csrf_token %}
          <div class="form-group row mt-1">
              <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
              <div class="col-sm-4">
                <input type="text" id="first_name" name="first_name" class="form-control" value="{{ first_name }}" required>
              </div>
          </div>
          <div class="form-group row mt-1">
              <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
              <div class="col-sm-4">
                <input type="text" id="last_name" name="last_name" class="form-control" value="{{ last_name }}" required>
              </div>
          </div>
          <div class="form-group row mt-1">
              <label for="phone_number" class="col-sm-2 col-form-label">Phone Number</label>
              <div class="col-sm-4">
                <input type="tel" id="phone_number" name="phone_number" class="form-control" value="{{ phone }}" required>
              </div>
          </div>
          <div class="form-group row mt-1">
              <label for="role" class="col-sm-2 col-form-label">Role</label>
              <div class="col-sm-4">
                <input type="number" id="role" name="role" class="form-control" value="{{ role }}" required>
              </div>
          </div>
          <div class="form-group row mt-1">
              <label for="dept" class="col-sm-2 col-form-label">Department</label>
              <div class="col-sm-4">
                <input type="number" id="dept" name="dept" class="form-control" value="{{ dept }}" required>
              </div>
          </div>
          <div class="form-group row mt-1">
              <label for="salary" class="col-sm-2 col-form-label">Salary</label>
              <div class="col-sm-4">
                <input type="number" id="salary" name="salary" class="form-control" value="{{ salary }}" required>
              </div>
          </div>
          <div class="form-group row mt-1">
              <label for="bonus" class="col-sm-2 col-form-label">Bonus</label>
              <div class="col-sm-4">
                <input type="number" id="bonus" name="bonus" class="form-control" value="{{ bonus }}" required>
              </div>
          </div>
          <div class="form-group row mt-1">
            <div >
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </div>
          </div>
        </form>
      </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>